doctype html
head
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css' integrity='sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==' crossorigin='anonymous' referrerpolicy='no-referrer')
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title HBA Brand | #{title}
    link(rel='stylesheet' href='/css/index.css')
header
    i#navbar.fa-solid.fa-bars
    img.logo1(src='https://storage.googleapis.com/bosta-files/sllr_store_images/NTA5MzA4X18yMDI0LTA0LTE5VDEyOjQ0OjIxLjU3NVpfMS5qcGc=.jpg')
main
    h1.error-alert=msg